.clgp-16 {
    row-gap: 16px;
}

.clgp-8 {
    row-gap: 8px;
}


.text-input-label {
    font-size: 16px;
}

.text-input {
    padding: 10px;
    border-radius: 12px;
    outline: none;
    border: 2px solid #0059ff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.text-input:focus-visible {
    outline: #6f3bac;
}