.registration-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 12px;
    padding-bottom: 24px;
}

.registration-form-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 16px;
    padding: 24px;
    min-width: 760px;
    max-width: 880px;
}

.registration-form-wrapper {
    display: flex;
    justify-content: center;
    padding: 16px;
    align-items: center;
}
